@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin text-fill-color() {
  -webkit-text-fill-color: arguments;
  -moz-text-fill-color: arguments;
  text-fill-color: arguments;
}

@mixin textWithEllipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin mobile() {
  @media (max-device-width: 720px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-device-width: 721px) {
    @content;
  }
}

@mixin AppearFadeIn($duration: 1s, $enterOpacity: 0, $activeOpacity: 1) {
  will-change: opacity;
  &.Appear-appear {
    opacity: $enterOpacity;
  }
  &.Appear-appear.Appear-appear-active {
    transition-property: opacity;
    transition-duration: $duration;
    opacity: $activeOpacity;
  }
}
