[data-component='Chat'] {
  position: absolute;
  z-index: 0;
  top: 50px;
  left: 20px;
  height: calc(100% - 50px);
  width: 400px;
  overflow-y: scroll;

	> div {
		width: 100%;
		padding: 4px 8px;
		resize: none;
		outline: none;
		background-color: rgba(#243B55, 1);
    > div {
      color: #cccccc;
    }
    p {
      color: #ffffff;
    }
		font-family: inherit;
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
		border: none;
	}
}
