@import './nib-reset.scss';
@include global-reset();

@import './variables';
@import './mixins';
@import './fonts';
@import './reset';

html {
  height: 100%;
  box-sizing: border-box;

  // background-image: url('/resources/images/body-bg-2.jpg');
  // background-attachment: fixed;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  background: #141e30;
  background: linear-gradient(to top, #243b55, #141e30);
  font-family: 'Roboto';
  font-weight: 300;

  @include desktop() {
    font-size: 16px;
  }

  @include mobile() {
    font-size: 12px;
  }
}

body {
  height: 100%;
}

#mediasoup-demo-app-container {
  height: 100%;
  width: 100%;

  @import './components/Room';
  @import './components/Me';
  @import './components/ChatInput';
  @import './components/Peers';
  @import './components/Peer';
  @import './components/PeerView';
  @import './components/Stats';
  @import './components/Notifications';
  @import './components/NetworkThrottle';
}

// Hack to detect in JS the current media query
#mediasoup-demo-app-media-query-detector {
  position: relative;
  z-index: -1000;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 1px;

  // In desktop let it "visible" so elem.offsetParent returns the parent element
  @include desktop() {
  }

  // In mobile ensure it's not displayed so elem.offsetParent returns null
  @include mobile() {
    display: none;
    position: fixed;
  }
}
